<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Spring Boot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/listarbizcocho}">Bizcochos</a>
            </li>

        </ul>
    </div>
</nav>
<div class="container">
    <h1 class="text-secondary border border-success border-top-0 border-right-0 border-left-0" th:text="${titulo}"></h1>
<form th:action="@{/formbizcocho}" th:object="${bizcocho}" method="post" enctype="multipart/form-data">

    <div class="form-group row">
            <label class="col-sm-2 col-form-label">Raciones</label>
            <div class="col-sm-6">
            <input type="text" th:field="*{numeroraciones}" class="form-control"/>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('numeroraciones')}" th:errors="*{numeroraciones}"></small>
            </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Votos</label>
        <div class="col-sm-6">
        <input type="text" th:field="*{votos}" class="form-control"/>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('votos')}" th:errors="*{votos}"></small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Descripcion del bizcocho</label>
        <div class="col-sm-6">
        <input type="text" th:field="*{descripcion}" class="form-control"/>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></small>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Intolerancias </label>
        <div class="col-sm-6">
            <input type="text" th:field="*{intolerancias}" class="form-control"/>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('intolerancias')}" th:errors="*{intolerancias}"></small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Fecha</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" th:field="*{fecha}" th:errorclass="'form-control alert-danger'"/>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}"></small>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-6">
            <input type="submit" value="Añadir bizcocho" class="btn btn-primary"/>
        </div>
    </div>

    <input type="hidden" th:field="*{id}"/>
</form>
</div>
</body>
</html>